In [2]:
import pandas as pd
pd.options.display.max_rows = None

In [3]:
fa = pd.read_excel('data/fa_2022.xlsx')
sp = fa[fa.Pos == 'RP']
sp = sp.sort_values(['2021 WAR', 'Proj WAR'], ascending=False)
sp.head(10)

,Name,Pos,Bats,Thr,Prev Team,Age,Service Time,2021 WAR,Proj WAR,Med Years,Med Total,Med AAV,QO,Signing Team,Years,Total Salary,AAV,Unnamed: 17,playerid
31,Raisel Iglesias,RP,R,R,LAA,32,6.154,2.004240,1.067840,NaN,0,NaN,18400000.0,NaN,NaN,NaN,NaN,NaN,17130
35,Collin McHugh,RP,R,R,TBR,35,7.085,1.832630,0.551783,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7531
36,Kenley Jansen,RP,S,R,LAD,34,11.073,1.795720,0.492444,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3096
40,Ryan Tepera,RP,R,R,CHW,34,6.008,1.611400,0.498981,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10291
41,Aaron Loup,RP,L,L,NYM,34,9.040,1.600260,0.466476,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10343
50,Andrew Chafin,RP,R,L,OAK,32,7.020,1.429070,0.353973,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12988
58,Kendall Graveman,RP,R,R,HOU,31,6.078,1.078070,0.537961,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15514
59,Mark Melancon,RP,R,R,SDP,37,11.098,1.075530,0.294294,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4264
63,Daniel Hudson,RP,R,R,SDP,35,11.106,1.047500,0.524086,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7146
66,Jesse Chavez,RP,R,R,ATL,38,11.038,0.966375,0.183153,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5448